@charset "UTF-8";
html{overflow: hidden;}
html, body{width: 100%; height: 100%;}
*{margin:0; padding:0;}

@keyframes mousemove {
  0% {
    transform : translateY(0px); /* 애니메이션이 0%만큼 동작시 */
  }
  30% {
    transform : translateY(-20px); /* 애니메이션이 50%만큼 동작시 */
  }
  100% {
    transform : translateY(5px); /* 애니메이션이 100%만큼 동작시 */
  }
}

body {
  background: linear-gradient(#5AF, #08F);
}

/* 공통부분 */
.title {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.inner {
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
}

.inner h3 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.inner h3::before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: 'My Skill';
  font-weight: 600;
  color: #025;
  z-index: -1;
}

.btn {
  cursor: pointer;
}


/* 공통부분 끝 */  

.cursorItem {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 500;
  transition: opacity .2s;
}

.cursorItem .circle {
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  background: url('../img/home-img2.png') no-repeat center / contain;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 50px;
  height: 85px;
  /* background-color: rgba(255,255,255,0.5); */
  z-index: 400;
}

.header .ver {
  color: white;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
}

.header .gnb-btn {
  position: relative;
  width: 32px;
  height: 32px;
}

.header .gnb-btn span {
  position: absolute;
  top: 10px;
  transform: translateY(-50%);
  width: 32px;
  height: 1.6px;
  background-color: white;
}

.header .gnb-btn span:nth-child(1){
  top: 0px;
}

.header .gnb-btn span:nth-child(3){
  top: 20px;
}

.header .gnb-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: rgba(255,255,255,1);
  transform: translateY(-85px);
  opacity: 0;
  transition: .5s;
}

.header .gnb-nav.on {
  transform: translateY(0);
  opacity: 1;
}

.header .gnb-nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .gnb-nav ul li {
  margin: 0 3vw;
}

.header .gnb-nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #025;
  font-family: 'Poppins', sans-serif;
}

.header .gnb-nav ul li a:hover {
  color: #08F;
}

.swiper-slide#home {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.swiper-slide#home .title {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.swiper-slide#home .title p {
  font-size: 140px;
  color: #ffffff;
  font-family: 'Audiowide', cursive;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.swiper-slide#home .title p:first-child {
  letter-spacing: 2px;
  transform: translateX(-10%);
}

.swiper-slide#home .title p:last-child {
  transform: translateX(10%);
}

.swiper-slide#home .title p.on {
  opacity: 1;
  transform: translateX(0);
}

.swiper-slide#home .btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiper-slide#home .btn-wrap a { 
  width: 48%;
  height: 50px;
  max-width: 150px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  transition: .3s;
}

.swiper-slide#home .btn-wrap a span { 
  font-weight: 600;
  color: #333333;
  transition: .3s;
}

.swiper-slide#home .btn-wrap a.github {
  background: url('../img/github-img.png') no-repeat center / contain;
  background-color: white;
}

.swiper-slide#home .btn-wrap a:hover { 
  background-color: #05A;
}

.swiper-slide#home .btn-wrap a.resume:hover span {
  color: white;
}

.swiper-slide#home .btn-wrap a.github:hover {
  background: url('../img/github-img-white.png') no-repeat center / contain;
  background-color: #05A;
}

.swiper-slide#home .mouse {
  position: absolute;
  bottom: 30px;
  color: #ffffff;
  font-size: 50px;
  animation-name: mousemove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function : linear;
}

.swiper-slide#profile .inner {
  background-color: #ffffff;
  border-radius: 20px;
}

.swiper-slide#profile .inner h3 {
  margin-top: -60px;
}

.swiper-slide#profile .inner .left {
  width: 50%;
  height: 600px;
  padding: 30px 0;
  margin: 20px 0;
  text-align: center;
  border-right: 1px solid #eeeeee;
}

.swiper-slide#profile .inner .left h4 {
  font-size: 22px;
  letter-spacing: -2px;
  font-weight: normal;
  color: #333333;
}

.swiper-slide#profile .inner .right {
  width: 50%;
  height: 600px;
}

.swiper-slide#profile .inner h3::before {
  content: 'About Me';
}

.swiper-slide#myskill .inner h3::before {
  content: 'My Skill';
}

.swiper-slide#myskill .inner .cont-wrap {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.swiper-slide#myskill .inner .cont-wrap ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.swiper-slide#myskill .inner .cont-wrap ul li {
  position: relative;
  width: 46%;
  padding: 45px 20px 20px;
  border-radius: 10px;
  border: 3px solid #025;
  margin-bottom: 40px;
  transition: .5s;
  transform: rotatey(80deg);
}

.swiper-slide#myskill .inner .cont-wrap ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  opacity: 0;
  transition: .5s;
  z-index: -1;
  background-color: #025;
}

.swiper-slide#myskill .inner .cont-wrap ul li::after {
  content: 'click!';
  position: absolute;
  top: 10px;
  right: 20px;
  color: #08F;
  font-weight: 600;
  opacity: 0;
  transition: .5s;
}

.swiper-slide#myskill .inner .cont-wrap ul li.on {
  transform: rotatey(0deg);
}

.swiper-slide#myskill .inner .cont-wrap ul li:hover::before {
  opacity: 1;
}

.swiper-slide#myskill .inner .cont-wrap ul li:hover::after {
  opacity: 1;
}

.swiper-slide#myskill .inner .cont-wrap ul li span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  border: 3px solid #ffffff;
  background-color: #08F;
  font-size: 20px;
  color: #ffffff;
  transform: translate(-25px, -15px) rotate(-15deg);
}

.swiper-slide#myskill .inner .cont-wrap ul li p {
  color: #ffffff;
  text-shadow: 1px 1px 3px #025;
  line-height: 1.4;
}

.swiper-slide#portfolio .swiper-slide {
  position: relative;
  background-color: white;
}

.swiper-slide#portfolio .swiper-slide .img-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: .3s;
  overflow: hidden;
}

.swiper-slide#portfolio .swiper-slide.first .img-wrap {
  background-color: #17b464;
}

.swiper-slide#portfolio .swiper-slide.second .img-wrap {
  background-color: #e07351;
}

.swiper-slide#portfolio .swiper-slide.third .img-wrap {
  background-color: #8cc3ea;
}

/* .swiper-slide#portfolio .swiper-slide .img-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  transition: .5s;
}

.swiper-slide#portfolio .swiper-slide .img-wrap:hover::after {
  background-color: rgba(0,0,0,0);
} */

.swiper-slide#portfolio .swiper-slide .img-wrap img {
  transition: .3s;
}

.swiper-slide#portfolio .swiper-slide .img-wrap:hover img {
  transform: scale(1.1);
}

.swiper-slide#portfolio .swiper-slide .text-wrap {
  position: absolute;
  bottom: 50px;
  left: 30px;
}

.swiper-slide#portfolio .swiper-slide .text-wrap h3,
.swiper-slide#portfolio .swiper-slide .text-wrap p {
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.swiper-slide#portfolio .swiper-slide .text-wrap h3 {
  font-size: 28px;
  margin-bottom: 10px;
  letter-spacing: -2px;
}

.swiper-slide#portfolio .swiper-slide .text-wrap p {
  font-size: 20px;
  letter-spacing: -1px;
  font-family: 'Poppins', sans-serif;
}

.swiper-slide#contact .inner h3::before {
  content: 'Contact';
}

