.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
  right: 40px;
}

.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 20px 0;
  width: 10px;
  height: 10px;
  z-index: 9999;
  position: relative;
}

.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--point-color);
  width: 13px;
  height: 13px;
  margin-left: -1px;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.mySwiper2 .swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 5px;
  background-color: #111111;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper-pagination {
  padding: 5px;
}